<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <style>
      body {
        font-family: sans-serif;
        padding: 1rem;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        border: 1px solid #aaa;
        padding: 0.5rem;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    <table>
      <thead>
        <tr>
          {{#each columns}}
            <th>{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each rows}}
          <tr>
            {{#each ../columns}}
              <td>{{lookup ../this this}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </body>
</html>
